{% extends "base.html" %}

{% block extrahead %}
{{ super() }}

{% set title = config.site_name %}
{% if page and page.meta and page.meta.title %}
{% set title = title ~ " - " ~ page.meta.title %}
{% elif page and page.title and not page.is_homepage %}
{% set title = title ~ " - " ~ page.title %}
{% endif %}
{% set description = page.meta.description if page and page.meta and page.meta.description else config.site_description
%}
{% set embed_image = page.meta.embed_image if page and page.meta and page.meta.embed_image else config.site_image %}
{% set embed_image_alt = page.meta.embed_image_alt if page and page.meta and page.meta.embed_image_alt else
config.site_image_alt %}

<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.canonical_url }}" />
<meta property="og:image" content="{{ embed_image }}" />
<meta property="og:image:alt" content="{{ embed_image_alt }}" />
<meta property="og:image:type" content="image/jpg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="full_stack_dl" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="{{ embed_image }}" />
<meta name="twitter:image:alt" content="{{ embed_image_alt }}" />
{% endblock %}

{% block libs %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<!-- <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script> -->
{% endblock %}



{% block content %}
{{ super() }}

<div id="emailModal">
  <div>
    <h2>We are excited to share this course with you for <strong>free</strong>.</h2>
    <p>
      We have more upcoming great content.
      Subscribe to stay up to date as we release it.
    </p>
    <p>
      <form id="emailForm">
        <input name="email" type="email" id="emailInput" placeholder="Your Email" required />
        <div class="cf-turnstile" data-sitekey="0x4AAAAAAAEktm15XKkJyc3Z" data-callback="javascriptCallback"></div>
        <button type="submit" id="submitEmail" class="md-button md-button--primary">
          Enter
        </button>
      </form>
    </p>
    <small><p class="flex flex-wrap justify-between">
      <span>
        We take your privacy and attention very seriously and will never spam you.
      </span>
      <a id="emailModalCloseLink" href="javascript:void(0)" class="">I am already a subscriber</a>
    </p></small>
  </div>
</div>

{% endblock %}
